<footer>
    This website was made possible thanks to <a href="https://neocities.org">neocities.org</a> and <a href="https://middlemanapp.com/">middleman</a>, with its layout originally based off <a href="https://sadgrl.online/projects/layout-builder/">Sadgrl's Layout Builder</a>
</footer>
