<%
  style = locals[:style]

  if style.nil?
    style = "style"
  end
%>

<title><%= current_page.data.title %></title>
<link href="https://fonts.googleapis.com/css?family=Fresca&family=Noto+Sans" rel="stylesheet">
<link href="/css/<%= style %>.css" rel="stylesheet" type="text/css" media="all">
<link href="/images/icons/favicon.ico" rel="icon" sizes="16x16, 32x32, 64x64, 96x96, 128x128" type="image/x-icon">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= current_page.data.description %>">
