<%
  require_relative '../_tools/languages'
%>

<aside class="left">
  <h2>My stuff!</h2>
  
  <div class="box">
    <p>Here's the navigation for my own stuff :3</p>
  
    <ul>
      <li><a href="<%= localize_link('/Fanfics/') %>">Fanfics</a></li>
      <li>Art</li>
      <li>Blogs</li>
      <li>About</li>
      <li>Socials</li>
    </ul>
  </div>
  
  <h2>My Latest Stuff!</h2>
  <ul>
    <li>*Latest Fic*</li>
    <li>*Latest Art*</li>
    <li>*Latest Blog*</li>
  </ul>
</aside>
