<aside class="right">
  <h2>Things & Peeps I like!</h2>
  
  <div class="box">
    <ul>
      <li>Music</li>
      <li>Fanfics</li>
      <li>Art</li>
      <li>Youtubes</li>
      <li>Other :3</li>
    </ul>
  </div>

  <%= partial(:"partials/social-links", :locals => {:link_text => ""}) %>
  
  <h2>Current Status</h2>
  <p>Silly and Tired :p</p>
</aside>
