@use "sass:math";

$nil: 0px;

$border: 1px;
$underline: 4px;
$padding: 6px;
$paragraph: 24pt;
$margin: 20px;
$header: 128px; //? Same size as Header Image
$bg: 132px;
$sidebar: 170px;
$siteMin: 300px;
$smartPhone: 506px;
$smallMonitor: 750px;
$siteMax: 1024px;

$slideW: 900px;
$slideH: $slideW * (3/4);



$border-l: $border * 3;

$smaller: $paragraph * 0.75;
$h6: $paragraph * 1.2;
$h5: $paragraph * 1.25;
$h4: $paragraph * 1.33;
$h3: $paragraph * 1.45;
$h2: $paragraph * 1.66;
$h1: $paragraph * 2.6;

$margin-s: $margin * 0.7;
$margin-l: $margin * 1.2;

$padding-s: $padding * 0.65;
$padding-l: $padding * 1.4;
